html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(20, 20, 20);
    background-image: radial-gradient(circle farthest-side, rgba(16,185,129,.15), rgba(255,255,255,0));
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.flashlight {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  mix-blend-mode: overlay;
  transform: translate(-50%, -50%);
}